---
name: Product Catalog CI
on:
  workflow_dispatch:
    inputs:
      action:
        description: select action
        required: true
        type: choice
        options:
          - Run_CI
          - rollback
jobs:
  build:
    name: CI Job
    if: ${{ github.event.inputs.action == 'Run_CI' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: set up go1.25
        uses: actions/setup-go@v3
        with:
          go-version: 1.25
      - name: Build Product Catalog Service
        run: |
          cd App/microservices-demo-main/src/productcatalogservice
          go build -o productcatalogservice .
      - name: Run unit Tests
        run: |
          cd App/microservices-demo-main/src/productcatalogservice
          go test ./...
  code-quality:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4
        
        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
           go-version: 1.22
        
        - name: Run golangci-lint
          uses: Jerome1337/golint-action@v1.0.2
          with:
            golint-path: ./App/microservices-demo-main/src/productcatalogservice


  docker-build-and-scan:
        runs-on: ubuntu-latest
        needs: build
        steps:
          - name: Checkout code
            uses: actions/checkout@v2
          - name: Log in to Docker Hub
            uses: docker/login-action@v2
            with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}
          - name: Build and Push Product Catalog Docker Image
            run: |
              cd App/microservices-demo-main/src/productcatalogservice
              docker build -t ${{ secrets.DOCKER_USERNAME }}/productcatalogservice:${{ github.run_id }} .

          - name: Scan image with Trivy
            uses: aquasecurity/trivy-action@0.20.0
            with:
                image-ref: ${{ secrets.DOCKER_USERNAME }}/productcatalogservice:${{ github.run_id }}
                format: table
                severity: CRITICAL,HIGH
                exit-code: 1
                ignore-unfixed: true
          - name: docker image push
            run: |
              docker push ${{ secrets.DOCKER_USERNAME }}/productcatalogservice:${{ github.run_id }}
         


  update-manifests:
      runs-on: ubuntu-latest
      needs: docker-build-and-scan
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
          with:
            token: ${{ secrets.TOKEN }}

        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/productcatalogservice:${{github.run_id}}|" App/microservices-demo-main/kubernetes-manifests/productCatalog/productcatalogservice.yaml

        - name: Commit and push changes
          run: |
            git config --global user.email "sajaldhiman16@gmail.com"
            git config --global user.name "Dhmian23"
            git add App/microservices-demo-main/kubernetes-manifests/productCatalog/productcatalogservice.yaml
            git commit -m "[CI]: Update product catalog image tag"
            git push origin HEAD:main -f